name: "Run lint and format check"

on: push

jobs:
  build-and-run-unit-tests:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Setup Rust
        uses: ./.github/actions/setup-rust
      - name: Run clippy
        run: cargo clippy
      - name: Check Rust formatting
        run: cargo fmt --check
