name: "Build and run unit tests"

on: push

jobs:
  build-and-run-unit-tests:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Setup Rust
        uses: ./.github/actions/setup-rust
      - name: Build and run Rust unit tests
        run: cargo test --lib --tests --workspace
      - name: Install cgreen
        uses: ./.github/actions/install-cgreen-with-sudo
      - name: Prepare C build dir
        run: |
          mkdir build &&
          cd build &&
          cmake ..
      - name: Build and run C unit test
        run: |
          cd build &&
          make tests &&
          make test
